body{
  background-image: "./src/images/11a7e38f3855ae3e78f8b8ab737f8c57.jpg";
}
.loginTab {
  margin: auto;
  width: 20%;
  padding: 50px;
  margin-top: 15%;
  border: 2px solid black;
  display:block;

}

#loginButton {
  text-align: center;
  justify-content: center;
  margin-left: 45%;
}
.PopUp {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #51f329;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.button{
margin-top:15px;
margin-left:25px;
border-radius: 1px 1px solid red;
}